<!DOCTYPE html>
<html>
  <head>
    <title>Psyche</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag  'application', media: 'all' %>
    <%= javascript_pack_tag 'App' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
