<!DOCTYPE html>
<html>
  <head>
    <title>Psyche</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag  'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>

    <%= javacsript_pack_tag 'application' %>
  </body>
</html>
